* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#site-header {
    background-color: black;
    color: white;
    

}
.menu-item {
    display: inline-block;
    position: relative;
}


.menu-link {
    color: white;
    font-weight: 700;
    padding: 30px;
    display: inline-block;
}


.menu-list, .logo, .navigation {
    display: inline-block;
}
.logo {
    margin: 10px;
}
.logo img {
    width: 150px;
    vertical-align: middle;
}
.menu-link:hover {
    color: #d63384;
}



.sub-mais {
    position: absolute;
    top: 100%;
    left:0;
    display: none;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.sub-mais :not(:last-child){
    margin-bottom: 10px;
    border-bottom: 1px solid #494646;
}
.sub-mais .hidden{
    display: none;
}

.sub-mais a {
    color: #faf6f6;
    font-size: 15px;
    line-height: 1.5;
}
.menu-item:hover .sub-mais {
    display: block; 
}
.a-.menu-item:hover .sub-mais{
    color: #d63384;
}
.menu-item .sub-mais :hover{
    color:#d63384;
}




.sub-certificacoes {
    position: absolute;
    top: 100%;
    left:0;
    display: none;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.sub-certificacoes a{
    color: #faf6f6;
    font-size: 15px;
    line-height: 1.5;
}
.sub-certificacoes :not(:last-child){
    margin-bottom: 10px;
}
.sub-certificacoes .hidden{
    display: none;
}

.menu-item:hover .sub-certificacoes {
    display: block;
}
.menu-item .sub-certificacoes :hover{
    color:#d63384;
}




.sub-cursos {
    position: absolute;
    top: 100%;
    left:0;
    display: none;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.sub-cursos :not(:last-child){
    margin-bottom: 10px;
    border-bottom: 1px solid #494646;
    margin: 1.5;
}
.sub-cursos .hidden{
    display: none;
}
.sub-cursos a{
    color: #faf6f6;
    font-size: 15px;
    padding-top: 10px;
    line-height: 1.5;
}
.menu-item:hover .sub-cursos {
    display: block;
}
.menu-item .sub-cursos :hover{
    color:#d63384;
} 
